<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trvel App</title>
</head>
<body>
	<!-- this is a comment -->
	<div class="container-fluid p-0 m-0">
		

		<div class="main">
			<div id="add-trip">
				<header id="app-header" class="row m-0 align-items-center">
					<div class="col-6">

						<a href="/" title="Travel Planner"><i class="fas fa-suitcase-rolling fa-1x "></i></a>
						<span>Travel Planner</span>
					</div>
					<a class="col-6 text-right" href="#my-trips" title="My Trips">My trips</a>
				</header>

				<section class="input-section row m-0 align-items-center justify-content-center">
					<form class="col-md-8 col-lg-6 border rounded p-4 m-4">
						<div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="inputCity1">Current Location</label>
						      <input type="text" class="form-control" id="inputCity1" placeholder="City">
						    </div>
						    <div class="form-group col-md-6">
						      <label for="inputCity2">Destination/City</label>
						      <input type="text" class="form-control" id="inputCity2" placeholder="City">
						    </div>
						  </div>

						  <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="Date1">Departing</label>
						      <input type="Date" class="form-control" id="Date1">
						    </div>
						    <div class="form-group col-md-6">
						      <label for="Date2">Returning</label>
						      <input type="Date" class="form-control" id="Date12">
						    </div>
						  </div>
						  <button type="submit" title="Submit" class="btn btn-danger btn-block">Submit</button>
					</form>
				</section>
			</div>

			<section class="output-section" id="my-trips">
				<div class="all-trips row row-cols-1 row-cols-md-3 p-3 pr-4 pl-4 m-0">

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4">
						<div class="card h-100">
			  				<img src="./src/client/assets/imgs/madinah.jpg" class="card-img-top" alt="...">
			  				<div class="card-body">
					    		<h3 class="card-title">Medinah, Saudi Arabia</h3>
					    		<div class="card-text">2020-07-14 - 2020-07-24</div>
					    		<div class="card-text">Duration: <span><b>3</b></span> days</div>
					    		<br>
					    		<div class="row weather-forcast align-items-center">
					    			<div class="col-12"><h5>Weather Forcast:</h5></div>
					    			<div class="col-2 text-right p-3"><i class=" text-primary fas fa-cloud-sun fa-2x"></i></div>
					    			<div class="col-10">
					    				<div class="temperature"> s91 °C </div>
					    				<div class="weather-description"> Humid throughout the day</div>
					    			</div>
					    		</div>
				  			</div>
				  			<div class="row card-footer text-muted m-0 align-items-center">
				  				<p class="col-10 blockquote-footer m-0">Your trip will start in: <span><b>3</b></span> days</p>
				  				<button type="button" title="Delete Trip" class="col-2 btn btn-outline-danger"><i class="fas fa-trash-alt fa-1x"></i></button>
				  			</div>
						</div>
					</div>

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4">
						<div class="card h-100">
			  				<img src="./src/client/assets/imgs/madinah.jpg" class="card-img-top" alt="...">
			  				<div class="card-body">
					    		<h5 class="card-title">Card title</h5>
					    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    		<p class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></p>
				  			</div>
						</div>
					</div>

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4">
						<div class="card h-100">
			  				<img src="./src/client/assets/imgs/madinah.jpg" class="card-img-top" alt="...">
			  				<div class="card-body">
					    		<h5 class="card-title">Card title</h5>
					    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    		<p class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></p>
				  			</div>
						</div>
					</div>

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4">
						<div class="card h-100">
			  				<img src="./src/client/assets/imgs/madinah.jpg" class="card-img-top" alt="...">
			  				<div class="card-body">
					    		<h5 class="card-title">Card title</h5>
					    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    		<p class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></p>
				  			</div>
						</div>
					</div>

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4">
						<div class="card add-trip-card p-4 h-100 justify-content-center align-items-center">
							<a href="#app-header">
								<button title="Add Trip" class="btn btn-danger btn-circle btn-xl">
								<span class="fa-stack fa-2x">
	  								<i class="fas fas fa-map-marker fa-stack-2x"></i>
	  								<i class="fas fa-plus fa-stack-1x fa-inverse text-danger"></i>
								</span>
							</button>
							</a>
						</div>
					</div>


				</div>
			</section>
		</div>

		<footer class="row justify-content-between align-items-center m-0">
			<div class="col-sm-6 text-center text-sm-left">
				<span>Travel Planner &copy; 2020</span>
			</div>
			<div class="social-buttons text-center col-sm-6 text-sm-right">
				<a class="fab fa-twitter-square mr-4 fa-2x" target="_blank" title="Twitter" href=""></a>
				<a class="fab fa-github fa-2x" target="_blank" title="GitHub" href=""></a>
			</div>
      </footer>

	</div>
</body>
</html>