<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
	<title>Trvel App</title>
</head>
<body>
	<!-- this is a comment -->
	<div class="container-fluid p-0 m-0">
		
		<div class="main">
			
			<div id="add-trip">
				<header id="app-header" class="row m-0 align-items-center">
					<div class="col-6">

						<a href="/" title="Travel Planner"><i class="fas fa-suitcase-rolling fa-1x "></i></a>
						<span>Travel Planner</span>
					</div>
					<a class="col-6 text-right" href="#my-trips" title="My Trips">My trips</a>
				</header>

				<div id="myModal" class="modal" tabindex="-1" role="dialog">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-body">
				      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				        <p class="modal-text"></p>
				      </div>
				    </div>
				  </div>
				</div>

				<section class="input-section row m-0 align-items-center justify-content-center">
					<form class="col-md-8 col-lg-6 border rounded p-4 m-4 needs-validation" novalidate>
						<div class="form-row">
						    <div class="form-group col-md-6">
						    	<label for="currentLocation">Current Location</label>
						    	<input type="text" class="form-control" id="currentLocation" placeholder="City" pattern="[A-Za-z\s]{2,85}" required>
						    	<div class="invalid-feedback">
						      		Please enter your current location.
						      	</div>
						    </div>
						    <div class="form-group col-md-6">
							    <label for="destLocation">Destination/City</label>
							    <input type="text" class="form-control" id="destLocation" placeholder="City" pattern="[A-Za-z\s]{2,85}" required>
							    <div class="invalid-feedback">
						      		Please enter a destination.
						      	</div>
						    </div>
						  </div>

						  <div class="form-row">
						    <div class="form-group col-md-6">
							    <label for="departDate">Departing</label>
							    <input type="Date" class="form-control" id="departDate" required>
							    <div class="invalid-feedback">
						      		Please choose a departure date.
						      	</div>
						    </div>
						    <div class="form-group col-md-6">
						    	<label for="returnDate">Returning</label>
						      	<input type="Date" class="form-control" id="returnDate" required>
						      	<div class="invalid-feedback">
						      		Please choose a return date.
						      	</div>
						    </div>
						  </div>
						  <button id="form-btn" type="submit" title="Submit" class="btn btn-danger btn-block">Submit</button>
					</form>
				</section>
			</div>

			<section class="output-section" id="my-trips">
				<div class="all-trips row row-cols-1 row-cols-md-3 p-3 pr-4 pl-4 m-0 d-flex flex-wrap-reverse justify-content-center">

					<div class="col p-3 col-xs-12 col-md-6 col-lg-4 order-first">
						<div class="card add-trip-card p-4 h-100 justify-content-center align-items-center">
							<a href="#app-header">
								<button title="Add Trip" class="btn btn-danger btn-circle btn-xl">
								<span class="fa-stack fa-2x">
	  								<i class="fas fas fa-map-marker fa-stack-2x"></i>
	  								<i class="fas fa-plus fa-stack-1x fa-inverse text-danger"></i>
								</span>
							</button>
							</a>
						</div>
					</div>


				</div>
			</section>
		</div>

		<footer class="row justify-content-between align-items-center m-0">
			<div class="col-sm-6 text-center text-sm-left">
				<span>Travel Planner &copy; 2020</span>
			</div>
			<div class="social-buttons text-center col-sm-6 text-sm-right">
				<a class="fab fa-twitter-square mr-4 fa-2x" target="_blank" title="Twitter" href=""></a>
				<a class="fab fa-github fa-2x" target="_blank" title="GitHub" href=""></a>
			</div>
      </footer>

	</div>
</body>
</html>