/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/cabin-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin'), local('Cabin-Regular'),
       url('../assets/fonts/cabin-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/cabin-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/cabin-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/cabin-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/cabin-v14-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}