@import "fonts";
@import "vars";

html{
	scroll-behavior: smooth;
}

body { font-size: 14px; font-size: 1.4rem; } /* =14px */

h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */

header {
	height: 10vh;
	background-color: rgba(86, 101, 115, 0.5);
	font-family: 'Cabin';
	font-weight: 500;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	padding-left: 10vw;
	padding-right: 10vw;

	a{
		text-decoration: none;
		color: white;

		&:hover, &:focus{
			text-decoration: none;
			color: white;
			font-weight: bold;

		}
	}

	.add-trip-card{
		border-style: dashed;
		border-width: 2px;
	}


}

// Prevent button icons from firing events
button > * {
  pointer-events: none;
}

#add-trip{
	background: url(../assets/imgs/ST_ZoomBackground_Beach01.jpg);
	background-size: cover;
	background-position: center;
}

.input-section{
	height: calc(100vh - 10vh);
	//background-color: lightblue;
}

form {
	background-color: rgba(240, 128, 128, 0.3);
	color: rgb(255, 255, 255);
	font-weight: bold;

	input{
		background-color: transparent;
	}
}

.output-section{
	background-color: rgb(243, 238, 232);
	.add-trip-card{
		border-style: dashed;
		border-width: 4px;
	}
}

.add-trip-button{
	background-color: transparent;
}

.btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 10px 16px;
    border-radius: 70px;
    //font-size: 60px;
    //line-height: 1.33
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

footer {
	height: 10vh;
	background-color: rgba(86, 101, 115, 1);
	font-family: 'Cabin';
	font-size: 1.2rem;
	font-weight: 700;
	padding-left: 5vw;
	padding-right: 5vw;

	a{
		text-decoration: none;

	}

	.fa-twitter-square:hover{
		color: rgb(69, 179, 157);
	}

	.fa-github:hover{
		color: rgb(69, 179, 157);
	}
}

@import "~bootstrap";