@import "fonts";
@import "vars";

html{
	scroll-behavior: smooth;
}

header {
	height: 10vh;
	background-color: gray;
	font-family: 'Cabin';
	font-weight: 500;
	//color: $mainColor;
	//font-size: 2em;
	padding-left: 10vw;
	padding-right: 10vw;
}

.input-section{
	height: calc(100vh - 10vh);
	background-color: lightblue;
}

.output-section{
	background-color: pink;	
}

.btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 10px 16px;
    border-radius: 70px;
    //font-size: 60px;
    //line-height: 1.33
}



footer {
	height: 10vh;
	background-color: gray;
	font-family: 'Cabin';
	//color: $mainColor;
	font-size: 1em;
	padding-left: 5vw;
	padding-right: 5vw;
}

@import "~bootstrap";