@import "resets";
@import "fonts";
@import "header";
@import "footer";

html{
	scroll-behavior: smooth;
}


// Prevent button icons from firing events
button > * {
  pointer-events: none;
}

#add-trip{
	background: url(../assets/imgs/ST_ZoomBackground_Beach01.jpg);
	background-size: cover;
	background-position: center;
}

.input-section{
	height: calc(100vh - 10vh);
	//background-color: lightblue;
}

form {
	background-color: rgba(240, 128, 128, 0.3);
	color: rgb(255, 255, 255);
	font-weight: bold;
}

.output-section{
	background-color: rgb(243, 238, 232);
	.add-trip-card{
		border-style: dashed;
		border-width: 4px;
	}
}

.add-trip-button{
	background-color: transparent;
}

.btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 10px 16px;
    border-radius: 70px;
    //font-size: 60px;
    //line-height: 1.33
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

@import "~bootstrap";